.App {
  text-align: center;
  background-image: radial-gradient(#00ff33, #9f9f9f);
}

.App-header {
  background-image: linear-gradient(to top, #00ff33, #9f9f9f);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
